r53_hosted_zone_id = "{{ HOSTED_ZONE }}"
r53_record = "{{ DOMAIN }}"
region = "{{ REGION }}"
ami = "{{ AMI }}"
vpc_id = "{{ VPC_ID }}"
private_subnet_id = "{{ PRIVATE_SUBNET_ID }}"
public1_subnet_id = "{{ PUBLIC1_SUBNET_ID }}"
public2_subnet_id = "{{ PUBLIC2_SUBNET_ID }}"
instance_type = "t2.xlarge"
ec2_root_volume_type = "gp2"
ec2_root_volume_size = 40
certificate_arn = "{{ CERTIFICATE_ARN }}"